<html>
    <body>
        <h1> Welcome to Home page </h1>
        <p> This is a homepage </p>
        <form method="post" action='/predict'>
            <input type="number" name="preg" placeholder="Please enter number of times of pregnancy" required style="width: 20%;"><br>
            <input type="number" name="plas" placeholder="Please enter glucose value" required style="width: 20%;"><br>
            <input type="number" name="pres" placeholder="Please enter blood pressure value" required style="width: 20%;"><br>
            <input type="number" name="skin" placeholder="Please enter skinthickness value" required style="width: 20%;"><br>
            <input type="number" name="test" placeholder="Please enter insulin value" required style="width: 20%;"><br>
            <input type="number" name="mass" placeholder="Please enter body-mass value" required style="width: 20%;"><br>
            <input type="number" name="pedi" placeholder="Please enter pDiabetes pedigree function value" required style="width: 20%;"><br>
            <input type="number" name="age" placeholder="Please enter age value" required style="width: 20%;"><br>
            <input type="submit"></input>
        </form>
    </body>
</html>